
.Cards {    
    display: grid;
    grid-template-columns: repeat(24, 1fr);
    grid-template-rows: repeat(7, 80px) ;
   
    
}

.card1 {
    aspect-ratio: 3/4;
    height: auto;
    padding: 24px;
    border: solid;
    border-radius: 10px;
    grid-column: 3 /span 6;
    grid-row: 1 /span 5;
}

.card2 {
    line-height: normal;
    aspect-ratio: 6/9;
    height: auto;
    padding: 24px;
    border: solid;
    border-radius: 10px;
    grid-column: 10 /span 6;
    grid-row: 1 /span 6;
}

.card3 {
    aspect-ratio: 6/9;
    height: auto;
    padding: 24px;
    border: solid;
    border-radius: 10px;
    grid-column: 17 /span 6;
    grid-row: 1 /span 6;
}
.imagesBS {
    border-radius: 10px;
    transition: transform .2s;
    aspect-ratio: 4/3;
}

.imagesBS:hover {
    scale: 1.15;
   
}