
.footer-grid-container{
    background-color: #1e2c20;
    display: grid;
    grid-template-columns: repeat(20, 1fr);
    grid-template-rows: repeat(10, 1fr);
    height: 300px;
}
.AOH{
    grid-column: 2 /span 3 ;
    grid-row: 3 /span 5;
}
.Prod{
    grid-column:5 /span 3;
    grid-row: 3 /span 5;
}
.CS{
    grid-column: 7 /span 3;
    grid-row: 3 /span 5;
}
.footerText{
    color: white;
}
.subscribeText{
    color: white;
    grid-column: 14 /span 5;
    grid-row: 3 /span 2;
}
.inputBox{
    grid-column: 14 /span 3;
    grid-row: 5 /span 3;
}
.subButton{
    grid-column: 17 /span 3;
    grid-row: 5 /span 2;
}
.btn {
    border-radius: 0px;
    
}
.form-control{
    border-radius: 0px;
    height: fit-content;
}
.Facebook{
    grid-column: 14;
    grid-row: 8;
}
.Instagram{
    grid-column: 15;
    grid-row: 8;
}
.Twitter{
    grid-column: 16;
    grid-row: 8;
}
.Linkedin{
    color: white;
    grid-column: 17;
    grid-row: 8;
}
