.imagesCooking {
    border-radius: 10px;
    transition: transform .2s;
    aspect-ratio: 1/1;
}

.imagesCooking:hover {
    scale: 1.15;
   
}
.hideoverflow{
    overflow: hidden;
    border-radius: 10px;
    

}