/* body */

/* end of body */
/* navbar */

#navbar{
    display: grid;
}
#navbar-logo{
    background-color: #fb5108;
    border-radius: 10px;
   width: 80px;
   height: 80px;
   text-align: center;
   grid-column: 1;
   grid-row: 1;
}
#navbar-texts{
    padding-top: 25px;
   text-align: center;
    grid-row: 1;
    grid-column: 1;
    word-spacing: 100px;

}
.navbar-texts{
    color: #292828;
    text-decoration: none;
}
.navbar-texts:hover{
    color: #fb5108;
    text-decoration: underline;
    
}
/* navbar end  */

/* hero */

/* hero end */