@import url(./navbar.css);
@import url(./hero.css);
@import url(./startcooking.css);
@import url(./newarrivals.css);
@import url(./bestseller.css);
@import url(./reviews.css);
@import url(./footer.css);
/* body */
body{
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}
/* end of body */
/* h1{
    font-family: roboto-light;
    color: #292828;
}
p{
    font-family: roboto-light;
    color: #292828;
}
a{
    font-family: roboto-light;
    color: #292828;
}
h3{
    font-family: roboto-light;
    color: #292828;
}
h4{
    font-family: roboto-light;
    color: #292828;
}
h5{
    font-family: roboto-light;
    color: #292828;
} */

 